/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    padding-top: 20px;
    color: #5a5a5a;
}

.navbar-space {
    padding-top:20px;
}

.post-item {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(236, 240, 241);
}

footer {
    margin-top: 40px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

}
